{
   "ID" : "123456",
   "Name" : "钻头",
   "Tab" : [
      [
         {
            "Name" : "柄部",
            "ParamList" : [
               {
                  "DefaultValue" : "6",
                  "Name" : "柄部直径",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "柄部直径" : 6.0
               },
               {
                  "DefaultValue" : "36",
                  "Name" : "柄部长度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "柄部长度" : 36.0
               },
               {
                  "DefaultValue" : "45",
                  "Name" : "第一倒角角度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第一倒角角度" : 45.0
               },
               {
                  "DefaultValue" : "0.5",
                  "Name" : "第一倒角宽度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第一倒角宽度" : 0.50
               },
               {
                  "DefaultValue" : "45",
                  "Name" : "第二倒角尾角度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第二倒角尾角度" : 45.0
               },
               {
                  "DefaultValue" : "0.5",
                  "Name" : "第二倒角宽度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第二倒角宽度" : 0.50
               }
            ]
         }
      ],
      [
         {
            "Name" : "内冷孔和冷却槽",
            "ParamList" : [
               {
                  "DefaultValue" : "0.4",
                  "Name" : "冷却孔直径",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "冷却孔直径" : 0.40
               },
               {
                  "DefaultValue" : "1.6",
                  "Name" : "冷却孔孔距",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "冷却孔孔距" : 1.60
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "导程",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "导程" : 16.320
               },
               {
                  "DefaultValue" : "0.8",
                  "Name" : "冷却槽深度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "冷却槽深度" : 0.80
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "冷却槽根部圆弧半径",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "冷却槽根部圆弧半径" : 0.10
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "冷却槽宽度倒角宽度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "冷却槽宽度倒角宽度" : 0.10
               },
               {
                  "DefaultValue" : "45",
                  "Name" : "冷却槽倒角角度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "冷却槽倒角角度" : 45.0
               },
               {
                  "DefaultValue" : "0",
                  "Name" : "第一冷却孔周向分度角度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第一冷却孔周向分度角度" : 0.0
               }
            ]
         }
      ],
      [
         {
            "Name" : "槽型曲线方程",
            "ParamList" : [
               {
                  "DefaultValue" : "0.003253",
                  "Name" : "一次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "一次系数" : 0.0032530
               },
               {
                  "DefaultValue" : "0.004271",
                  "Name" : "二次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "二次系数" : 0.0042710
               },
               {
                  "DefaultValue" : "-0.03705",
                  "Name" : "三次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "三次系数" : -0.037050
               },
               {
                  "DefaultValue" : "-0.03705",
                  "Name" : "四次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "四次系数" : -0.037050
               },
               {
                  "DefaultValue" : "0.1535",
                  "Name" : "五次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "五次系数" : 0.15350
               },
               {
                  "DefaultValue" : "0.011",
                  "Name" : "六次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "六次系数" : 0.0110
               },
               {
                  "DefaultValue" : "-0.2179",
                  "Name" : "七次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "七次系数" : -0.21790
               },
               {
                  "DefaultValue" : "0.4237",
                  "Name" : "八次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "八次系数" : 0.42370
               },
               {
                  "DefaultValue" : "-0.00145",
                  "Name" : "九次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "九次系数" : -0.001450
               },
               {
                  "DefaultValue" : "1.038",
                  "Name" : "常量",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "常量" : 1.0380
               },
               {
                  "DefaultValue" : "-2.4",
                  "Name" : "X左区间",
                  "Type" : "EditBox",
                  "X左区间" : -2.40,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "2.1",
                  "Name" : "X右区间",
                  "Type" : "EditBox",
                  "X右区间" : 2.10,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "2.076",
                  "Name" : "芯厚直径",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "芯厚直径" : 2.0760
               },
               {
                  "DefaultValue" : "6",
                  "Name" : "工作直径",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "工作直径" : 6.0
               }
            ]
         }
      ],
      [
         {
            "Name" : "背部槽型",
            "ParamList" : [
               {
                  "DefaultValue" : "0.313",
                  "Name" : "第一刃带宽度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第一刃带宽度" : 0.3130
               },
               {
                  "DefaultValue" : "19.2",
                  "Name" : "第一后角",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第一后角" : 19.20
               },
               {
                  "DefaultValue" : "1.179",
                  "Name" : "第一后角宽度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第一后角宽度" : 1.1790
               },
               {
                  "DefaultValue" : "24.278",
                  "Name" : "第二后角",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第二后角" : 24.2780
               },
               {
                  "DefaultValue" : "1.058",
                  "Name" : "第二后角宽度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第二后角宽度" : 1.0580
               },
               {
                  "DefaultValue" : "0.714",
                  "Name" : "第二刃带宽度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第二刃带宽度" : 0.7140
               },
               {
                  "DefaultValue" : "6.5",
                  "Name" : "第二刃带直径",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第二刃带直径" : 6.50
               },
               {
                  "DefaultValue" : "72.23",
                  "Name" : "第三后角",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第三后角" : 72.230
               }
            ]
         }
      ],
      [
         {
            "Name" : "螺旋线",
            "ParamList" : [
               {
                  "DefaultValue" : "16.32",
                  "Name" : "螺旋线导程",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "螺旋线导程" : 16.320
               }
            ]
         }
      ],
      [
         {
            "Name" : "齿隙曲线方程",
            "ParamList" : [
               {
                  "DefaultValue" : "0.1",
                  "Name" : "一次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "一次系数" : 0.10
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "二次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "二次系数" : 0.10
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "三次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "三次系数" : 0.10
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "四次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "四次系数" : 0.10
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "五次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "五次系数" : 0.10
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "六次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "六次系数" : 0.10
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "七次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "七次系数" : 0.10
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "八次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "八次系数" : 0.10
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "九次系数",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "九次系数" : 0.10
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "常量",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "常量" : 0.10
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "X左区间",
                  "Type" : "EditBox",
                  "X左区间" : 0.10,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "0.1",
                  "Name" : "X右区间",
                  "Type" : "EditBox",
                  "X右区间" : 0.10,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               }
            ]
         }
      ],
      [
         {
            "Name" : "齿隙曲线坐标系",
            "ParamList" : [
               {
                  "DefaultValue" : "16.32",
                  "Name" : "原点X",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "原点X" : 16.320
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "原点Y",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "原点Y" : 16.320
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "原点Z",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "原点Z" : 16.320
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "X轴向量i",
                  "Type" : "EditBox",
                  "X轴向量i" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "X轴向量j",
                  "Type" : "EditBox",
                  "X轴向量j" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "X轴向量k",
                  "Type" : "EditBox",
                  "X轴向量k" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "Y轴向量k",
                  "Type" : "EditBox",
                  "Y轴向量k" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "Y轴向量k",
                  "Type" : "EditBox",
                  "Y轴向量k" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "Y轴向量k",
                  "Type" : "EditBox",
                  "Y轴向量k" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "Z轴向量k",
                  "Type" : "EditBox",
                  "Z轴向量k" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "Z轴向量k",
                  "Type" : "EditBox",
                  "Z轴向量k" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "Z轴向量k",
                  "Type" : "EditBox",
                  "Z轴向量k" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               }
            ]
         }
      ],
      [
         {
            "Name" : "齿隙轨迹",
            "ParamList" : [
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XY一次系数",
                  "Type" : "EditBox",
                  "XY一次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XY二次系数",
                  "Type" : "EditBox",
                  "XY二次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XY三次系数",
                  "Type" : "EditBox",
                  "XY三次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XY四次系数",
                  "Type" : "EditBox",
                  "XY四次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XY五次系数",
                  "Type" : "EditBox",
                  "XY五次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XY六次系数",
                  "Type" : "EditBox",
                  "XY六次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XY七次系数",
                  "Type" : "EditBox",
                  "XY七次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XY八次系数",
                  "Type" : "EditBox",
                  "XY八次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XY九次系数",
                  "Type" : "EditBox",
                  "XY九次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XY常量",
                  "Type" : "EditBox",
                  "XY常量" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "X左区间",
                  "Type" : "EditBox",
                  "X左区间" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "X右区间",
                  "Type" : "EditBox",
                  "X右区间" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XZ一次系数",
                  "Type" : "EditBox",
                  "XZ一次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XZ二次系数",
                  "Type" : "EditBox",
                  "XZ二次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XZ三次系数",
                  "Type" : "EditBox",
                  "XZ三次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XZ四次系数",
                  "Type" : "EditBox",
                  "XZ四次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XZ五次系数",
                  "Type" : "EditBox",
                  "XZ五次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XZ六次系数",
                  "Type" : "EditBox",
                  "XZ六次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XZ七次系数",
                  "Type" : "EditBox",
                  "XZ七次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XZ八次系数",
                  "Type" : "EditBox",
                  "XZ八次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XZ九次系数",
                  "Type" : "EditBox",
                  "XZ九次系数" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "XZ常量",
                  "Type" : "EditBox",
                  "XZ常量" : 16.320,
                  "iniName" : "step_num",
                  "iniType" : "Int"
               }
            ]
         }
      ],
      [
         {
            "Name" : "后刀面平面",
            "ParamList" : [
               {
                  "DefaultValue" : "120",
                  "Name" : "钻尖角",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "钻尖角" : 120.0
               },
               {
                  "DefaultValue" : "16.32",
                  "Name" : "第一后角",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第一后角" : 16.320
               },
               {
                  "DefaultValue" : "1",
                  "Name" : "第一后角宽度",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第一后角宽度" : 1.0
               },
               {
                  "DefaultValue" : "1",
                  "Name" : "第二后角",
                  "Type" : "EditBox",
                  "iniName" : "step_num",
                  "iniType" : "Int",
                  "第二后角" : 1.0
               }
            ]
         }
      ]
   ]
}
